@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
  /* COLORS */
  --color-primary-1: #ffc700;

  /* GRAY SCALE */
  --color-grey-100: #15171a;
  --color-grey-300: #2b2f33;
  --color-grey-500: #ced4da;
  --color-grey-700: #fdfeff;

  --font-family-primary: "Poppins", sans-serif;
}

body {
  font-family: var(--font-family-primary);
  color: var(--color-gray-100);

  background-color: var(--color-gray-700);
}

main {
  max-width: 1024px;
  margin: 0 auto;
  padding-inline: 0.5rem;
}
