.header {
  background-color: var(--color-primary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 48px;
}

.header__title {
  font-size: 2.25rem;
  font-weight: 700;
}

.header__links {
}

.header__link {
}
