.popular__title {
  font-size: 2.25rem;
  font-weight: 700;

  /* display: flex;
  justify-content: center; */
  text-align: center;
  padding-block: 2rem;
}

.popular__cards {
  background-color: var(--color-primary);
  display: flex;
  justify-content: space-between;
  gap: 0.25rem;

  border: 2px solid var(--color-gray-100);
  border-radius: 1rem;
  padding: 0.625rem 0.5rem;
}

.popular__card {
  /* border: 2px solid var(--color-gray-100);
  border-radius: 1rem; */
}

.popular__img {
  border: 2px solid var(--color-gray-100);
  border-radius: 1rem;
}
